@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@layer base {
  body {
    @apply bg-neutral-900 dark:bg-zinc-200;
  }
  svg,
  p {
    @apply text-zinc-300 dark:text-zinc-800;
  }
  h1 {
    @apply text-zinc-300 dark:text-zinc-600;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
}
/* SVG Color */
:root {
  --svg-color: rgb(131, 131, 131);
}
svg path,
svg rect {
  fill: var(--svg-color);
}

/* Scrollbar */

body {
  --sb-track-color: transparent;
  --sb-thumb-color: #7d7d7d;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
